* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 945px;
    width: 100%;
    margin: 0 auto;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


button{
    outline: none;
}


.title{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    color: #50312A;
}

.dn{
    display: none !important;
}


